{% extends "base.html" %} {% block title %}IRC7 - SGOD PMES{% endblock %} {%
block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/irc7.css') }}"
/>

<section id="irc7-tab" class="tab-panel irc7-panel">
  <div class="irc7-header">
    <h2>IRC7 &mdash; SGOD Dashboard Data</h2>
    <p class="irc7-subtitle">
      Provide the needed data for the SGOD Dashboard. Use "Add Column" to add
      new fields, grouped or standalone.
    </p>
  </div>

  <div class="irc7-toolbar">
    <button type="button" class="irc7-add-column-toolbar-btn" id="addColumnBtn">
      <i class="ti ti-plus" style="margin-right: 6px"></i> Add Column
    </button>
  </div>

  <div class="irc7-table-wrapper">
    <table id="irc7-table" class="irc7-table">
      <thead>
        <tr id="irc7-group-row">
          <th rowspan="2" class="irc7-fixed-col">School ID</th>
          <th rowspan="2" class="irc7-fixed-col irc7-name-col">School Name</th>
          <th rowspan="2" class="irc7-fixed-col">Curricular Offering</th>
          <th rowspan="2" class="irc7-fixed-col">
            District Learning Cluster (DLC)
          </th>
          <th rowspan="2" class="irc7-fixed-col">Status</th>
          <th rowspan="2" class="irc7-fixed-col">
            School Classification (2024)
          </th>
        </tr>
        <tr id="irc7-col-row"></tr>
      </thead>

      <tbody id="irc7-tbody">
        <tr>
          <td>321507</td>
          <td>Antipolo City National Science and Technology HS</td>
          <td>JHS with SHS</td>
          <td>II-D</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>342175</td>
          <td>Antipolo City Senior HS</td>
          <td>Secondary</td>
          <td>I-A</td>
          <td>non-DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>500392</td>
          <td>Antipolo City SPED Center</td>
          <td>Elementary</td>
          <td>I-B</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>301418</td>
          <td>Antipolo NHS</td>
          <td>Secondary</td>
          <td>I-A</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>500391</td>
          <td>Apia Integrated School</td>
          <td>Elementary</td>
          <td>II-F</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>500391</td>
          <td>Apia Integrated School</td>
          <td>Secondary</td>
          <td>II-F</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>109319</td>
          <td>Bagong Nayon I ES</td>
          <td>Elementary</td>
          <td>I-A</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>109320</td>
          <td>Bagong Nayon II ES</td>
          <td>Elementary</td>
          <td>I-B</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>301419</td>
          <td>Bagong Nayon II NHS</td>
          <td>JHS with SHS</td>
          <td>I-B</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>109321</td>
          <td>Bagong Nayon IV ES</td>
          <td>Elementary</td>
          <td>I-B</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>501119</td>
          <td>Binayoyo Integrated School</td>
          <td>Elementary</td>
          <td>II-F</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>501119</td>
          <td>Binayoyo Integrated School</td>
          <td>Secondary</td>
          <td>II-F</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>109335</td>
          <td>Cabading ES</td>
          <td>Elementary</td>
          <td>II-D</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>109348</td>
          <td>Calawis ES</td>
          <td>Elementary</td>
          <td>II-F</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>301431</td>
          <td>Calawis NHS</td>
          <td>JHS with SHS</td>
          <td>II-F</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>109349</td>
          <td>Canumay ES</td>
          <td>Elementary</td>
          <td>II-G</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>321502</td>
          <td>Canumay NHS</td>
          <td>JHS with SHS</td>
          <td>II-G</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>109323</td>
          <td>Cupang ES</td>
          <td>Elementary</td>
          <td>II-C</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>230002</td>
          <td>Cupang ES Annex</td>
          <td>Elementary</td>
          <td>II-C</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>301420</td>
          <td>Cupang NHS</td>
          <td>Secondary</td>
          <td>II-C</td>
          <td>non-DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>109324</td>
          <td>Dalig ES</td>
          <td>Elementary</td>
          <td>II-A</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>321506</td>
          <td>Dalig NHS</td>
          <td>JHS with SHS</td>
          <td>II-B</td>
          <td>DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td></td>
          <td>Dela Paz ES</td>
          <td>Elementary</td>
          <td>I-A</td>
          <td>DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>321505</td>
          <td>Dela Paz NHS</td>
          <td>JHS with SHS</td>
          <td>I-A</td>
          <td>non-DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>109326</td>
          <td>Inuman ES</td>
          <td>Elementary</td>
          <td>II-D</td>
          <td>non-DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>109350</td>
          <td>Isaias S. Tapales ES</td>
          <td>Elementary</td>
          <td>II-B</td>
          <td>non-DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>109351</td>
          <td>Jesus S. Cabarrus ES</td>
          <td>Elementary</td>
          <td>II-B</td>
          <td>DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>109327</td>
          <td>Juan Sumulong ES</td>
          <td>Elementary</td>
          <td>II-A</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>109328</td>
          <td>Kaila ES</td>
          <td>Elementary</td>
          <td>II-A</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>109352</td>
          <td>Kaysakat ES</td>
          <td>Elementary</td>
          <td>II-G</td>
          <td>DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>301421</td>
          <td>Kaysakat NHS</td>
          <td>JHS with SHS</td>
          <td>II-G</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>230003</td>
          <td>Knights of Columbus ES</td>
          <td>Elementary</td>
          <td>II-A</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>109322</td>
          <td>Libis ES</td>
          <td>Elementary</td>
          <td>II-G</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>109329</td>
          <td>Lores ES</td>
          <td>Elementary</td>
          <td>II-A</td>
          <td>DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>109330</td>
          <td>Mambugan I ES</td>
          <td>Elementary</td>
          <td>I-C</td>
          <td>DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>230005</td>
          <td>Mambugan II ES</td>
          <td>Elementary</td>
          <td>I-C</td>
          <td>DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>301448</td>
          <td>Mambugan NHS</td>
          <td>Secondary</td>
          <td>I-C</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>321501</td>
          <td>Marcelino M. Santos NHS</td>
          <td>JHS with SHS</td>
          <td>II-B</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>301450</td>
          <td>Maximo L. Gatlabayan Memorial NHS</td>
          <td>JHS with SHS</td>
          <td>II-E</td>
          <td>DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>109331</td>
          <td>Mayamot ES</td>
          <td>Elementary</td>
          <td>I-C</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>301422</td>
          <td>Mayamot NHS</td>
          <td>JHS with SHS</td>
          <td>I-C</td>
          <td>non-DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>109332</td>
          <td>Muntindilaw ES</td>
          <td>Elementary</td>
          <td>I-C</td>
          <td>DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>301423</td>
          <td>Muntindilaw NHS</td>
          <td>JHS with SHS</td>
          <td>I-C</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>109333</td>
          <td>Nazarene Ville ES</td>
          <td>Elementary</td>
          <td>II-A</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>109334</td>
          <td>Old Boso-boso ES</td>
          <td>Elementary</td>
          <td>II-E</td>
          <td>non-DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>308101</td>
          <td>Old Boso-boso NHS</td>
          <td>JHS with SHS</td>
          <td>II-E</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>230006</td>
          <td>Paglitaw ES</td>
          <td>Elementary</td>
          <td>II-F</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>109354</td>
          <td>Pantay ES</td>
          <td>Elementary</td>
          <td>II-B</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>109336</td>
          <td>Peace Village ES</td>
          <td>Elementary</td>
          <td>II-D</td>
          <td>DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>109337</td>
          <td>Peñafrancia ES</td>
          <td>Elementary</td>
          <td>II-C</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>109338</td>
          <td>Peñafrancia ES Annex</td>
          <td>Elementary</td>
          <td>II-C</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>109357</td>
          <td>Rizza ES</td>
          <td>Elementary</td>
          <td>II-E</td>
          <td>DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>321504</td>
          <td>Rizza NHS</td>
          <td>JHS with SHS</td>
          <td>II-E</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>109358</td>
          <td>San Antonio Village ES</td>
          <td>Elementary</td>
          <td>II-B</td>
          <td>DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>109339</td>
          <td>San Isidro ES</td>
          <td>Elementary</td>
          <td>I-B</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>301426</td>
          <td>San Isidro NHS</td>
          <td>JHS with SHS</td>
          <td>I-B</td>
          <td>DEDP</td>
          <td>Large</td>
        </tr>
        <tr>
          <td>301457</td>
          <td>San Jose NHS</td>
          <td>JHS with SHS</td>
          <td>II-A</td>
          <td>DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>109359</td>
          <td>San Joseph ES</td>
          <td>Elementary</td>
          <td>II-G</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>301427</td>
          <td>San Juan NHS</td>
          <td>JHS with SHS</td>
          <td>II-F</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>109340</td>
          <td>San Luis ES</td>
          <td>Elementary</td>
          <td>II-D</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>301425</td>
          <td>San Roque NHS</td>
          <td>JHS with SHS</td>
          <td>II-A</td>
          <td>non-DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>109360</td>
          <td>San Ysiro ES</td>
          <td>Elementary</td>
          <td>II-G</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>109341</td>
          <td>Sapinit ES</td>
          <td>Elementary</td>
          <td>II-F</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>109342</td>
          <td>Sta. Cruz ES</td>
          <td>Elementary</td>
          <td>I-A</td>
          <td>non-DEDP</td>
          <td>Very Large</td>
        </tr>
        <tr>
          <td>109361</td>
          <td>Sumilang ES</td>
          <td>Elementary</td>
          <td>II-E</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
        <tr>
          <td>111082</td>
          <td>Taguete ES</td>
          <td>Elementary</td>
          <td>II-C</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>230001</td>
          <td>Tanza ES</td>
          <td>Elementary</td>
          <td>II-D</td>
          <td>DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>109343</td>
          <td>Teofila Z. Rovero Memorial ES</td>
          <td>Elementary</td>
          <td>II-B</td>
          <td>non-DEDP</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td>109363</td>
          <td>Upper Kilingan ES</td>
          <td>Elementary</td>
          <td>II-E</td>
          <td>non-DEDP</td>
          <td>Small</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Add Column Modal -->
  <div id="addColumnModal" class="irc7-modal" style="display: none">
    <div class="irc7-modal-content">
      <div class="irc7-modal-header">
        <h2>Add Columns</h2>
        <button type="button" class="irc7-modal-close" id="irc7ModalClose">
          &times;
        </button>
      </div>
      <div class="irc7-modal-body">
        <p class="irc7-modal-hint">
          Add one or more groups of columns. Leave a group's name blank to add
          those columns as standalone (ungrouped) columns instead. Each column
          needs a name and an entry type.
        </p>
        <div id="irc7-groups-container"></div>
        <button type="button" class="irc7-add-group-btn" id="irc7AddGroupBtn">
          <i class="ti ti-plus" style="margin-right: 6px"></i> Add Group
        </button>
      </div>
      <div class="irc7-modal-footer">
        <button
          type="button"
          class="irc7-modal-btn irc7-modal-btn-cancel"
          id="irc7ModalCancel"
        >
          Cancel
        </button>
        <button
          type="button"
          class="irc7-modal-btn irc7-modal-btn-submit"
          id="irc7ModalSubmit"
        >
          Add Columns
        </button>
      </div>
    </div>
    <div class="irc7-modal-overlay" id="irc7ModalOverlay"></div>
  </div>
</section>

<script src="{{ url_for('static', filename='js/irc7.js') }}"></script>

{% endblock %}
